<div class="row" *ngIf="authStatus$ | async as authStatus">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<form #authForm="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="email">E-Mail</label>
				<input
					type="text"
					id="email"
					name="email"
					class="form-control"
					ngModel
					required
					minlength="6"
					[disabled]="authStatus === 'pending'"
				/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input
					type="password"
					id="password"
					name="password"
					class="form-control"
					ngModel
					required
					[disabled]="authStatus === 'pending'"
				/>
			</div>
			<div>
				<button
					type="submit"
					class="btn btn-primary"
					[disabled]="authForm.invalid || authStatus === 'pending'"
				>
					<ng-container *ngIf="authStatus !== 'pending'; else authLoading">
						{{ isLoginMode ? 'Login' : 'Sign Up' }}
					</ng-container>
					<ng-template #authLoading>
						<app-loading-spinner></app-loading-spinner>
					</ng-template>
				</button>
				|
				<button
					type="button"
					class="btn btn-primary"
					(click)="onSwitchMode()"
					[disabled]="authStatus === 'pending'"
				>
					Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
				</button>
			</div>
		</form>
	</div>
</div>

<div appPlaceholder></div>

<ng-template #authErrorAlert>
	<div>
		<strong>Error: </strong>
		<span [ngSwitch]="authError">
			<ng-container *ngSwitchCase="authErrorTypes.EMAIL_EXISTS">
				The email address is already in use by another account.
			</ng-container>
			<ng-container *ngSwitchCase="authErrorTypes.OPERATION_NOT_ALLOWED">
				Password sign-in is disabled.
			</ng-container>
			<ng-container *ngSwitchCase="authErrorTypes.TOO_MANY_ATTEMPTS_TRY_LATER">
				We have blocked all requests from this device due to unusual activity.
				Try again later.
			</ng-container>
			<ng-container *ngSwitchCase="authErrorTypes.EMAIL_NOT_FOUND">
				There is no user with this email ID.
			</ng-container>
			<ng-container *ngSwitchCase="authErrorTypes.INVALID_PASSWORD">
				The password is invalid.
			</ng-container>
			<ng-container *ngSwitchCase="authErrorTypes.USER_DISABLED">
				The user account has been disabled by an administrator.
			</ng-container>
			<ng-container *ngSwitchDefault> An error occurred.</ng-container>
		</span>
	</div>
</ng-template>
